* {
     margin: 0;
     padding: 0;
     font-family: "Karla", sans-serif;
}

header {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 30px 60px;
     background-color: white;
     position: fixed;
     right: 0;
     left: 0;
     z-index: 1;
}

.nav-desktop > ul {
     list-style: none;
     display: flex;
     align-items: center;
}

ul > button {
     background-color: transparent;
     border: 2px solid rgb(46, 44, 44);
     padding: 10px 20px;
}

ul > button:hover {
     background-color: rgb(46, 44, 44);
     color: white;
}

ul li {
     color: gray;
     text-transform: uppercase;
     padding-right: 20px;
}

ul li:hover {
     border: 1px solid black;
}

.nav-mobile {
     display: none;
}

.hamburger-icon {
     display: none;
}

.close-icon {
     display: none;
}

.banner {
     display: flex;
     align-items: center;
     background-color: rgb(37, 37, 48);
     padding-left: 245px;
     justify-content: space-around;
}

.banner > .introLeft {
     position: absolute;
     left: 0;
     top: 600px;
}

.banner > .introRight {
     position: absolute;
     right: 0;
     top: 0;
}

.bigTitle-intro {
     display: grid;
     align-items: center;
     padding-right: 20px;
}

.bigTitle-intro > h1 {
     color: white;
     font-weight: 700;
     padding-bottom: 30px;
     font-size: clamp(40px, 5vw, 70px);
     width: 100%;
     max-width: 600px;
}

.bigTitle-intro > p {
     color: rgb(184, 182, 182);
     line-height: 1.5;
     margin-bottom: 30px;
     max-width: 500px;
}

.bigTitle-intro > button {
     background-color: transparent;
     border: 2px solid white;
     padding: 10px 20px;
     width: fit-content;
     color: white;
}

.bigTitle-intro > button:hover {
     background-color: rgb(46, 44, 44);
     color: white;
}

.banner > img {
     width: 100%;
     max-width: 400px;
     height: auto;
     padding: 80px 0;
}

.feedContainer {
     display: grid;
     align-items: center;
     margin-top: 300px;
     justify-content: center;
}

.feedContainer > h2 {
     font-size: clamp(40px, 5vw, 70px);
     font-weight: 500;
     padding-bottom: 60px;
     color: #252121;
     font-family: "DM Serif Display", serif;
}

.skills {
     display: flex;
     align-items: center;
}

.skills .skill {
     margin-right: 40px;
     display: grid;
     align-items: center;
}

.skill svg {
     padding-bottom: 30px;
     margin: 0 auto;
}

.skill h3 {
     font-size: 25px;
     font-weight: 400;
     font-family: "DM Serif Display", serif;
     text-align: center;
}
.skill p {
     max-width: 400px;
     padding-top: 20px;
     line-height: 1.5;
     color: gray;
}

.findout {
     display: flex;
     align-items: center;
     background-color: rgb(37, 37, 48);
     padding: 40px 50px;
     justify-content: space-between;
     margin: 80px auto;
     position: relative;
     max-width: 1100px;
}

.findout > h2 {
     font-size: clamp(25px, 5vw, 50px);
     font-weight: 500;
     color: white;
     font-family: "DM Serif Display", serif;
     margin-right: 400px;
     width: 100%;
     max-width: 500px;
}

.findout > button {
     background-color: transparent;
     border: 2px solid white;
     padding: 10px 20px;
     color: white;
     z-index: 1;
}
.findout > button:hover {
     background-color: rgb(46, 44, 44);
     color: white;
}

.findout > svg {
     position: absolute;
     top: 0;
     right: 0;
}

footer {
     background-color: #f5f5f5;
     display: grid;
     align-items: center;
     /* margin: 0 auto; */
}

footer > .logo-and-social {
     display: flex;
     align-items: center;
     border-bottom: 1px solid #b5b0b0;
     justify-content: space-between;
     padding: 30px 40px;
}

.social-media {
     display: flex;
     align-items: center;
}
.social-media > svg {
     padding-right: 10px;
     width: 30px;
}

.aboutUs {
     display: flex;
     align-items: start;
     justify-content: center;
     text-transform: uppercase;
     margin-top: 30px;
     flex-wrap: wrap;
     width: 100%;
}

.about {
     /* margin-right: 200px; */
     width: 100%;
     max-width: 200px;
}

.about h4 {
     color: gray;
     margin-bottom: 30px;
}

.about h5 {
     color: rgb(34, 34, 49);
     margin-bottom: 20px;
}

.attribution {
     margin: 20px auto;
     color: gray;
}

@media (min-width: 320px) and (max-width: 839px) {
     header {
          padding: 30px 20px;
     }

     .nav-desktop {
          display: none;
     }
     .hamburger-icon {
          display: block;
     }

     .close-icon {
          display: none;
     }

     .nav-mobile {
          background-color: rgb(71, 71, 71);
          width: 100%;
          max-width: 600px;
          position: fixed;
          top: 20%;
          left: 50%;
          display: none;
          padding: 10px 0;
          transform: translate(-50%, -50%);
          border-radius: 10px;
     }

     ul {
          list-style: none;
     }

     ul li {
          color: white;
          width: fit-content;
          margin: 20px auto;
     }

     .nav-mobile > ul li:hover {
          border: 1px solid white;
     }

     .banner {
          flex-direction: column-reverse;
          padding: 0;
          max-width: 100%;
     }

     .bigTitle-intro {
          padding: 0;
     }

     .bigTitle-intro > h1 {
          margin-top: 30px;
          margin-left: 20px;
     }

     .bigTitle-intro > p {
          margin: 0 20px;
          margin-bottom: 30px;
     }

     .bigTitle-intro > button {
          margin: 0 auto;
          margin-bottom: 30px;
     }

     .feedContainer {
          margin-top: 100px;
     }

     .feedContainer > h2 {
          text-align: center;
     }

     .skills {
          display: grid;
     }

     .skills > .skill {
          margin-right: 0;
          margin-bottom: 30px;
     }

     .findout {
          display: grid;
     }

     .findout > h2 {
          margin: 0;
     }

     .findout > button {
          margin: 20px auto;
          max-width: fit-content;
     }

     footer > .logo-and-social {
          flex-direction: column;
          padding: 30px 0;
     }

     .social-media {
          margin-top: 20px;
     }

     .about > h4 {
          text-align: center;
     }

     .about > h5 {
          text-align: center;
     }
}
